.card {
  border: 1px solid #7f7f7f33;
  border-radius: 0.25rem;
  flex: 1;
}
.display {
  padding: 1rem;
  text-align: center;
}
.display + .display {
  border-top: 1px solid #7f7f7f33;
}
.input-area {
  /* max-width: 100%; */
  /* min-height: 4rem; */
  /* font-family: var(--font-mono); */
  border: none;
  border-bottom: 1px solid #7f7f7f33;
  background: transparent;
  /* overflow: auto; */
  /* word-break: break-all; */
  padding: .4rem;
  /* resize: vertical; */
  display: block;
  box-sizing: border-box;
}
.dark .input-area {
  color: #ddd;
}
.tex-code {
  padding: 1rem;
  margin: 0;
  font-family: var(--font-mono);
  border-top: 1px solid #7f7f7f33;
  border-bottom: 1px solid #7f7f7f33;
}

.copied {
  position: absolute;
  padding: 0.25rem 0.5rem;
  right: 0;
  top: 0;
  border-radius: 0.25rem;
  background: var(--theme-accent);
  color: white;
}

.ͼ1 .cm-tooltip.cm-completionInfo {
  overflow: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.theme-dark .ͼ2 .cm-tooltip {
  background-color: #333;
  border-color: #444;
}

.ͼ2 .cm-content {
  caret-color: #777;
}

.cm-content {
  font-family: var(--font-mono);
}