.card {
  border: 1px solid #7f7f7f33;
  border-radius: 0.25rem;
  flex: 1;
}
.display {
  position: relative;
  padding: 1rem;
  text-align: center;
}
.display::before {
  content: attr(data-caption);
  position: absolute;
  font-size: .5rem;
  color: #7f7f7faa;
  top: .5rem;
  left: .5rem;
}
.card > *:not(:last-child) {
  border-bottom: 1px solid #7f7f7f33;
}
.input-area {
  width: 100%;
  min-height: 4rem;
  font-family: var(--font-mono);
  border: none;
  background: transparent;
  overflow: auto;
  word-break: break-all;
  padding: 1rem;
  resize: vertical;
  display: block;
  box-sizing: border-box;
}
.dark .input-area {
  color: #ddd;
}
.tex-code {
  padding: 1rem;
  margin: 0;
  font-family: var(--font-mono);
  border-top: 1px solid #7f7f7f33;
  border-bottom: 1px solid #7f7f7f33;
}